.btn-send {
  flex: 1;
  color: var(--white);

  background-color: var(--color-brand);
  border-radius: 0.75rem;

  &:hover {
    background-color: var(--color-brand-hover);
    cursor: pointer;
  }
}
