.btn-send {
  flex: 1;
  color: var(--white);

  background-color: var(--color-brand);
  border-radius: 0.75rem;
  padding: 0.62rem 1.65rem;

  &:hover {
    background-color: var(--color-brand-hover);
    cursor: pointer;
  }

  @media (max-width: 1024px) {
    flex: 0;
    padding: 0.5rem;
    font-size: var(--text-xs);
    text-wrap: nowrap;
  }
}
